.container-header {
  width: 100%;
  background-color: #ffab00;
}

.container-header .container-menu {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 50px 0 100px;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.translate,
.translate option{
  color: #f2f2f2;
  background-color: #DE480B;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.4s ease;
  border: transparent;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li {
  margin: 0 5px;
}
nav ul li a {
  color: #f2f2f2;
  background-color: #DE480B;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.4s ease;
}

.translate,
nav ul li a:hover,
nav ul li select:hover {
  color: #111;
  background: #fff;
}
nav .menu-btn fa-icon {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"] {
  display: none;
}

/*RESPONSIVE*/
@media screen and (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
  }
}
@media screen and (max-width: 920px) {
  nav {
    padding: auto;
  }
  nav .menu-btn fa-icon {
    display: block;
  }
  nav ul {
    position: fixed;
    top: 65px;
    left: -100%;
    background: #1b1b1b;
    height: auto;
    width: 90%;
    text-align: center;
    display: block;
    transition: all 0.4s ease;
  }

  #click:checked ~ ul {
    left: 0;
  }
  nav ul li {
    width: 100%;
    justify-content: center;
    margin: 40px 0;
  }
  nav ul li button {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li button {
    margin-left: -20px;
    justify-content: center;
  }
  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    color: #ff6d00;
  }
}
