<div class="container-header-2">
  <nav>
    <!--LOGO PAGE-->
    <img routerLink="home" src="assets/resource/logo_congreso.png" />
    <label class="logo">DagaCompany</label>
    <input type="checkbox" id="click">
    <label for="click" class="menu-btn">
      <fa-icon [icon]="faBars"></fa-icon>
    </label>
    <ul>
      <li><a href="home">{{ "inicio" | translate }}</a></li>
      <li><a href="evento">{{ "Evento" | translate }}</a></li>
      <li><a href="comercial">{{ "Comercial" | translate }}</a></li>
      <li><a href="pagos"> {{ "Inicio_sesion" | translate }}</a></li>
      <li><select class="translate" #langSelect (change)="camnbiarLang(langSelect.value)">
          <option *ngFor="let lang of langs" [value]="lang">{{ lang }}</option>
        </select>
      </li>
    </ul>
  </nav>
</div>