<div class="container-header">
  <img routerLink="home" src="assets/resource/logo_congreso.png" />

  <div class="menu">
    <button mat-button routerLink="home"> {{'inicio' | translate}}</button>
    <!--Se trata de hacer el translate-->
    <select #langSelect (change) = "camnbiarLang(langSelect.value)">
      <option *ngFor="let lang of langs" [value]="lang">{{lang}}</option>
    </select>
 <!--Se trata de hacer el translate-->

    <button mat-button [matMenuTriggerFor]="autores"> {{'autores' | translate}} </button>
    <mat-menu #autores="matMenu">
      <button mat-menu-item routerLink="autores">Para expositores</button>
      <button mat-menu-item routerLink="autores">Para evaluadores</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="eventos"> {{'Evento' | translate}}</button>
    <mat-menu #eventos="matMenu">
      <button mat-menu-item routerLink="evento">{{'Cronograma' | translate}} </button>
      <button mat-menu-item routerLink="evento">Expositores</button>
      <button mat-menu-item routerLink="evento">Descubriendo la Perla</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="pagos">{{'Comercial' | translate}} </button>
    <mat-menu #pagos="matMenu">
      <button mat-menu-item routerLink="pagos">
        {{'Inscripcion_empresas' | translate}}
      </button>
      <button mat-menu-item routerLink="pagos"> {{'Salon_virtual' | translate}} </button>
    </mat-menu>
  </div>

  <!--Los botones del Mat-toolbar-->

  <button class="button-session" mat-raised-button routerLink="ingreso">
    {{'Inicio_sesion' | translate}} 🔐
  </button>
</div>

<div class="banner">
  <img src="assets/resource/banner.jpg" />
</div>
