.container-header {
  width: 100%;
  background-color: #f9c74f;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 50px 0 50px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.active {
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.4s ease;
  border: transparent;
}

nav ul {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
}
nav ul li {
  margin: 5px 5px;
}
nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.4s ease;
}

.active,
nav ul li a.active,
nav ul li a:hover,
nav ul li select:hover {
  color: #1b1b1b;
  background: #fff;
}

nav .menu-btn fa-icon {
  color: #1b1b1b;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"] {
  display: none;
}

/*RESPONSIVE*/
@media screen and (max-width: 1000px) {
  nav {
    padding: 0 40px 0 40px;
  }
}
@media screen and (max-width: 940px) {
  nav {
    padding: auto;
  }
  nav .menu-btn fa-icon {
    display: block;
  }
  nav ul {
    position: fixed;
    top: 71px;
    left: -100%;
    background: #1b1b1b;
    height: auto;
    width: 50%;
    text-align: start;
    display: block;
    transition: all 0.4s ease;
  }

  #click:checked ~ ul {
    left: 0;
  }

  nav ul li {
    width: 100%;
    justify-content: start;
    margin: 30px 0 30px 0;
  }
  nav ul li a {
    width: auto;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a {
    margin-left: 0;
  }

  nav ul li a,
  nav ul li a.active,
  nav ul li a:hover {
    justify-content: end;
    background: none;
    color: #ff6d00;
  }

  #click:checked + a {
    color: #1b1b1b;
    background-color: #aaa;
  }
}

@media screen and (max-width: 400px) {
  nav {
    display: flex;
    flex-direction: column-reverse;
  }
  .logo {
    display: flex;
    flex-direction: column;
  }
  .logo select {
    margin-bottom: 20px;
  }
  nav .menu-btn fa-icon {
    padding: 20px 0 20px 0;
  }
  nav ul {
    position: fixed;
    top: 50px;
  }
}
