.container-header {
  width: 100%;
  background-color: #ffab00;
}

.container-header .container-menu {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}


.container-header-2 {
  width: 100%;
  background-color: #DE480B; 
}

nav {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 50px 0 100px;
}

nav .logo {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li {
  margin: 0 5px;
}
nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover {
  color: #111;
  background: #fff;
}
nav .menu-btn fa-icon {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"] {
  display: none;
}


@media screen and (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
  }
}

@media screen and (max-width: 920px) {
  nav {
    padding: auto;
  }
  nav .menu-btn fa-icon {
    display: block;
  }
  nav ul {
    position: fixed;
    top: 65px;
    left: -100%;
    background: #1b1b1b;
    height: auto;
    width: 90%;
    text-align: center;
    display: block;
    transition: all 0.4s ease;
  }

  #click:checked ~ ul {
    left: 0;
  }
  nav ul li {
    width: 100%;
    justify-content: center;
    margin: 40px 0;
  }
  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a {
    margin-left: -20px;
    justify-content: center;
  }
  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    color: #ff6d00;
  }
}

/************************/
/* Dropdown Button */
.dropbtn {
  color: black;
  font-weight: bolder;
  padding: 16px;
  font-size: 16px;
  border: none;
  height: 50px;
  background-color: #ffab00;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #ff8f00;
}

.banner img {
  width: 100%;
  border-radius: 0 0 0 20%;
}

@media screen and (max-width: 720px) {
  .container-header .container-menu {
    flex-direction: column;
    padding: 0px;
  }

  .button-session {
    margin: 3%;
  }
}
