<div class="container-footer">
  <div class="container-1">
    <div class="box" style="display: flex">
      <figure>
        <img routerLink="home" src="assets/resource/logo_congreso.png" />
      </figure>
    </div>

    <div class="box">
      <h2>{{ "universidad" | translate }}</h2>
      <h2>IbercTherm</h2>
      <P
        >{{ "footer" | translate }}</P
      >
      <h2>{{ "termografia" | translate }}</h2>
    </div>

    <div class="box">
      <h2>CONTACTANOS</h2>
      <div class="icon">
        <a href="https://testdevdd1234.com/deploy">
          <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" />
        </a>
      </div>
    </div>
  </div>

  <div class="container-2">
    <small
      >&copy; 2022 <b>Daga Company</b> - Todos los derechos Reservados - </small
    >
    <a href="#/inscripcion" style="color: rgb(255, 145, 0);">  POLITICAS DE PRIVACIDAD</a>
  </div>
</div>
