.container-footer {
  width: 100%;
  background-color: #F27649;
}

.container-footer .container-1 {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding: 45px 0px;
}

.container-footer .container-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-footer .container-1 .box figure img {
  width: 100%;
}

.container-footer .container-1 .box h2 {
  color: white;
  margin-bottom: 25px;
  font-size: 20px;
  text-decoration: underline #ffc046 2.5px;
  text-underline-offset: 8px;
}

.container-footer .container-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}

/*iconos*/
.container-footer .container-1 .box .icon a {
  display: inline-block;
  text-decoration: none;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #023859;
  transition: all 400ms ease;  
}

.container-footer .container-1 .box .icon a:hover{
  background-color: #ffc046; 
}

.container-footer .container-1 .box .icon img{
  width: 70%;
  padding: 15%;
}

/* Footer 2*/
.container-footer .container-2 {
  background-color: #023859;
  padding: 15px 10px;
  text-align: center;
  color: white;
}

.container-footer .container-2 small {
  font-size: 15px;
}
 /*RESPONSIVE*/
@media screen and (max-width: 800px) {
  .container-footer .container-1 {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}
