<h1>Lista de Registros</h1>


<table class="table table-striped" *ngIf="register.length > 0; else noReisters">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of register; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td> {{p.name}} </td>
            <td> {{p.email}} </td>
            <td><button (click)="editProduct($event, p)">Edit</button>
                <button (click)="deleteProduct($event, p)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>


<ng-template #noReisters>
    <p>There are not products yet.</p>
</ng-template>