<div class="body">
    <div class="blog-card spring-fever">
        <div class="title-content">
            <h3>{{status.name}} {{status.lastName}}</h3>
            <div class="intro"> {{status.asistencia}}</div>
        </div>
        <div class="card-info">
            <h1 style="padding: 20px;"><fa-icon [icon]="iconLight" style="color: #EDB80C;"></fa-icon>  {{'Pendiente'}} </h1>
            <br>
            <fa-icon [icon]="iconId"> </fa-icon> {{status.cedula}}
            <br>
            <fa-icon [icon]="iconCity"> </fa-icon>  {{status.city}} - {{status.participacion|uppercase}}
            <br>
            <fa-icon [icon]="iconAt"> </fa-icon>  {{status.email}}
            <br>
            <fa-icon [icon]="iconPhone"> </fa-icon>  {{status.phone}}
            <br>
            <a (click)="logout()">{{'logout' | uppercase}}<span class="licon icon-arr icon-black"></span></a>
        </div>
        <div class="utility-info">
            <ul class="utility-list">
                <li></li>
            </ul>
        </div>
        <div class="gradient-overlay"></div>
        <div class="color-overlay"></div>
    </div><!-- /.blog-card -->
</div>