<div class="container">
  <div>
    <mat-card>
      <h1>{{ "politicas.politica1" | translate }}</h1>
      <p style="text-align: justify">
        {{ "politicas.politica1_text" | translate }}
      </p>
    </mat-card>
  </div>

  <div>
    <mat-card>
      <h1>{{ "politicas.politica2" | translate }}</h1>
      <p style="text-align: justify">
        {{ "politicas.politica2_text" | translate }}
      </p>
    </mat-card>
  </div>

  <div>
    <mat-card>
      <h1>{{ "politicas.politica3" | translate }}</h1>
      <p style="text-align: justify">
        {{ "politicas.politica3_text" | translate }}
      </p>
    </mat-card>
  </div>

  <div>
    <mat-card>
      <h1>{{ "politicas.politica4" | translate }}</h1>
      <p style="text-align: justify">
        {{ "politicas.politica4_text" | translate }}
      </p>
    </mat-card>
  </div>

  <div>
    <mat-card>
      <h1>{{ "politicas.politica5" | translate }}</h1>
      <p style="text-align: justify">
        {{ "politicas.politica5_text" | translate }}
      </p>
    </mat-card>
  </div>

  <div>
    <mat-card>
      <h1>{{ "politicas.politica6" | translate }}</h1>
      <p style="text-align: justify">
        {{ "politicas.politica6_text" | translate }}
      </p>
    </mat-card>
  </div>
</div>
