<div class="container">

  <div>
    <mat-card>
      <h1>  {{ 'politica1' | translate }} </h1>
      <p style="text-align: justify;"> 
        {{ 'politica1_text' | translate }} 
      </p>
    </mat-card>
  </div>


  <div>
    <mat-card>
      <h1> {{ 'politica2' | translate }} </h1>
      <p style="text-align: justify;"> 
        
        {{ 'politica2_text' | translate }} 

      </p>
    </mat-card>
  </div>




  <div>
    <mat-card>
      <h1>  {{ 'politica3' | translate }}  </h1>
      <p style="text-align: justify;"> 
        
        
        {{ 'politica3_text' | translate }}
        

      </p>
    </mat-card>
  </div>







  <div>
    <mat-card>
      <h1>  {{ 'politica4' | translate }}  </h1>
      <p style="text-align: justify;"> 
        
        {{ 'politica4_text' | translate }} 
      </p>
    </mat-card>
  </div>








  <div>
    <mat-card>
      <h1>  {{ 'politica5' | translate }}  </h1>
      <p style="text-align: justify;"> 
        
        {{ 'politica5_text' | translate }} 

      </p>
    </mat-card>
  </div>
  


  <div>
    <mat-card>
      <h1>  {{ 'politica6' | translate }} </h1>
      <p style="text-align: justify;"> 
         
        {{ 'politica6_text' | translate }} 
      
      </p>
    </mat-card>
  </div>


  


</div>