<div>
  <h1>hgjgkl</h1>
  <button mat-raised-button (click)="logout()"> {{ 'LogOut' | translate }}</button>
  <button mat-raised-button (click)="userLogged()"> {{ 'Info Usuario' | translate }}</button>
  <div *ngIf="products.length > 0; else noProducts">
    <ul>
      <li *ngFor="let p of products">
        {{p.name}}
        {{p.description}}
        {{p.price}}
        <button (click)="aditProduct($event, p)">Edit</button>
        <button (click)="deleteProduct($event, p)">Delete</button>
        <div *ngIf="editing  && editingProduct.id==p.id">
          <form (ngSubmit)="updateProduct()">
            <h1>edit</h1>
            <input type="text" name="name" [(ngModel)]="editingProduct.name">
            <input type="text" name="description" [(ngModel)]="editingProduct.description">
            <input type="text" name="price" [(ngModel)]="editingProduct.price">
            <button type="submit">Update</button>
          </form>
        </div>
      </li>
    </ul>
  </div>

  <!--<form (ngSubmit)="addProduct()">
    <label for="">id</label>
    <input type="text" name="name" [(ngModel)]="productSend.id">
    <label for="">name</label>
    <input type="text" name="name" [(ngModel)]="productSend.name">
    <input type="text" name="description" [(ngModel)]="productSend.description">
    <input type="text" name="price" [(ngModel)]="productSend.price">

    <button type="submit">Save</button>
  </form> -->

  <ng-template #noProducts>
    <p>There are not products yet.</p>
  </ng-template>
</div>