.card {
  width:max-content;
  height:max-content;
  margin-top: 5%;
  margin-left: 40%;
}

.conta {
  background-image: url("src\assets\images\fondo1.jpg");

   /* Full height */
   height: 80vh;

   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  
}