<div class="container-login">
  <mat-card style="background-color: aliceblue;" class="card">
    <form [formGroup]="formIngreso" (ngSubmit)="save($event)">
      <div>
        <h1> {{ 'inicio_sesion' | translate }}</h1>
      </div>
      <div>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label> {{ 'usuario' | translate }} </mat-label>
          <input matInput type="text" [formControl]="nameField" class="form-control" />
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label> {{ 'Contraseña' | translate }} </mat-label>
          <input matInput type="password" [formControl]="passwordField" class="form-control" />
        </mat-form-field>
      </div>

      <div>
        <button type="submit" mat-raised-button color="warn" (click)="login()"> {{ 'Ingresar' | translate }} </button>
        <!--<button mat-raised-button [routerLink]="['/registro']">  {{ 'Registrarte' | translate }}</button>-->
        <!--<button mat-raised-button (click)="register()">  {{ 'Registrarte' | translate }}</button>
        <button mat-raised-button (click)="userLogged()">  {{ 'Info Usuario' | translate }}</button>
        <button mat-raised-button (click)="logout()">  {{ 'LogOut' | translate }}</button>-->
      </div>

      <div class="registerLabel">
        <p>Si aun no te has inscrito <a [routerLink]="['/registro']">REGISTRATE</a></p>
      </div>
    </form>
  </mat-card>
</div>