.card {
  width:max-content;
  height:max-content;
  margin-top: 5%;
  margin-left: 40%;
}

.conta {
  margin-top:auto;
  width:100%;
  float: left;
  height:500px;
  /* opacity:0.4;
  filter:alpha(opacity=30); For IE8 and earlier */
  /* background-color: rgba(0, 0, 0, 0.925); */
  background-image: url("src\assets\images\termo.jpg");
  
}