.card {
  width: max-content;
  height: max-content;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container-login {
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url("src\assets\images\fondo1.jpg");
  height: 90vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

mat-form-field,
button{
  width: 100%;
}

.registerLabel {
 margin-top: 10px;
}

.registerLabel a{
  text-decoration: none;
  font-weight: bolder;
  color: #00838f;
}
