<div class="container-event">
  <div>
    <h1>Fechas Importantes</h1>
  
    <img src="../../../../assets/images/Cronograma_evento.PNG" />
  </div>

  <div>
    <h1>Cronograma del evento</h1>
  
    <img src="../../../../assets/images/Cronograma_evento.PNG" />
  </div>

  <div class="region">
    <h1>La magia de la perla</h1>
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/LMWEWrK4WCI"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    >
    </iframe>

    <p>
      Pereira es la ciudad capital del departamento de Risaralda, la ciudad más
      poblada del eje cafetero y la segunda ciudad más grande de la región Paisa
      Colombiana. Apodada “La querendona, trasnochadora y morena” o “La perla
      del otún”, Pereira cuenta con una agradable clima templado gracias a su
      ubicación geográfica entre el cálido valle del cauca y las frías zonas
      montañosas de la cordillera central de Colombia. La ciudad tiene todas las
      prestaciones que una ciudad moderna puede ofrecer como: hotelería,
      Diversos medios de transportes, infraestructura vial, hospitales y
      seguridad. La cultura pereirana tiene sus raíces en la cultura cafetera de
      la región, lo cual hace parte del atractivo turístico de la ciudad y de
      sus zonas rurales, donde pueden observarse hermosas residencias
      construidas con el característico estilo colonial cafetero. También, en el
      ámbito urbano, Pereira cuenta con múltiples espacios deportivos y de
      esparcimiento para deleitarse con los servicios que la ciudad puede
      ofrecer. Sin quedarse atrás en el desarrollo tecnológico y comercial que
      caracteriza al siglo XXI, Pereira ofrece a sus ciudadanos y visitantes una
      inmensa variedad de productos y servicios debido al carácter comercial de
      la ciudad, al ubicarse en el centro del triángulo de oro colombiano
      conformado por las ciudades de Bogotá, Medellín y Calí; La Perla del otún
      constituye un punto intermedio en las principales rutas comerciales del
      país, lo que le vale otro dos de sus apodos “La ciudad sin puertas” y “La
      capital del eje”. En Pereira, usted podrá disfrutar de una diversa
      gastronomía regional, platos como: La bandeja Paisa, El Mondongo, ajiaco,
      Sancocho, Tamales, Patacones, Arepas, buñuelos y Mazamorra. Le brindarán
      una experiencia inolvidable. Al igual que visitar el parque natural de la
      Laguna de Otún, las aguas termales o las diferentes zonas de camping,
      centros comerciales, parques acuáticos presentes a las afueras de la
      ciudad. La ciudad te recibe con los brazos abiertos
    </p>

    <h2>
      Ven a nuestra ciudad. ¡Te esperamos con las manos abiertas! Enamorate de
      la querendona
    </h2>
  </div>
</div>
