.container-event {
  width: auto;
  height: 100%;
  text-align: center;
}

.container-event h1 {
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  line-height: 150%;

  margin: 1.5%;
}

.container-event p {
  font-size: 16px;
  margin: 2%;
  line-height: 150%;
  padding: auto;
  text-align: justify;
}
