<div class="container-event">
  <div>
    <h1> {{ 'fechas' | translate }} </h1>
  
    <div>
      <img src="../../../../assets/images/fechas_importantes.PNG" />
    </div>

  </div>

  <div>
    <h1>  {{ 'cronograma' | translate }}   </h1>
  
    <img src="../../../../assets/images/Cronograma_evento.PNG" />
  </div>

  <div class="region">
    <h1> {{ 'perla' | translate }}  </h1>
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/LMWEWrK4WCI"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    >
    </iframe>

    <p>
      {{ 'pereira_magia' | translate }}
    </p>

    <h2>
      {{ 'ven_a_pereira' | translate }}
    </h2>
  </div>
</div>
