<div class="container">


  <!--Texto-->
  <div style="text-align: center; margin-top: 2%;border-style: double;">
    <h1>{{'pagina_comercial' | translate}}</h1>
  </div>

  <!--Contenido-->
  <div class="box" style="margin-top: 2%;margin-bottom: 2%;">
    <p style="text-align: justify;"> {{'texto_empresa' | translate}} </p>
    
  </div>


  <div style="border-style:groove; margin-bottom: 5%;font-size: 100%; background: linear-gradient(to bottom, rgb(253, 252, 166), white)">
    <p> <b> {{'animate' | translate}}  </b>
    </p>
  </div>
  <div style="text-align: center; margin-bottom: 10%;">
    <button routerLink="/registro" mat-raised-button color="warn"> {{ 'registro' | translate }} </button>
  </div>
</div>