h1 {
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  line-height: 150%;

  margin: 1.5%;
}

.target {
  text-align: center;
  margin-bottom: 5%;
  padding: 3%;
  font-size: 100%;
  border-radius: 10px;
  background-image: url(https://www.man-es.com/images/default-source/discover/thermal-energy_-hot-and-cold_header-.jpg?sfvrsn=884399f5_4);
}

.target p, h2 {
  letter-spacing: 0.2rem;
  color: white;
}
