<div class="banner">
  <img src="assets/resource/banner2.jpeg" />

  
</div>

<div class="container">

  <!--Contenedor del evento-->
  <h1>{{ 'evento' | translate }}</h1>
  <p> {{ 'home_saludo' | translate }} </p>
  <!--Contenedor de nota de los organizadores-->
  <h1>{{ 'nota_organizadores' | translate }}</h1>
  <p> {{ 'home_saludo2' | translate }} </p>

  <!--Contenedor de los logos del congreso-->
  <div class="container-logos">
    <a href="https://www.utp.edu.co/" target="_blank">
      <img class="logo" src="assets/resource/Logo_U.T.P.png" />
    </a>
    <a href="https://gimm-gef.co/gimm" target="_blank">
      <img class="logo" src="assets/resource/gimm.png" />
    </a>
    <a href="https://gimm-gef.co/gef" target="_blank">
      <img class="logo" src="assets/resource/logo_gef.png" />
    </a>
    <img class="logo" src="assets/resource/logo_congreso.png" />
  </div>

  <!--Contenedor del comite organizador-->

  <div class="container-comite">
    <h1>{{ "comite_organizador" | translate }}</h1>
    <!-- ngFor del comite organizador-->

    <div class="card">
      <mat-card *ngFor="let organizador of organizadores">
        <div class="card-img">
          <img mat-card-image src="{{ 'assets/images/' + organizador.image }}" />
        </div>

        <mat-card-header>
          <mat-card-title>{{ organizador.name }}</mat-card-title>
          <mat-card-subtitle>{{ 'comite_organizador' | translate }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <h3> <strong>{{ 'Institucion' | translate }} </strong> {{ organizador.institucion }} </h3>
          <h3> <strong>{{ 'contacto' | translate }} </strong> {{ organizador.contacto }} </h3>
          <h4>{{ organizador.descripcion | translate }}</h4>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="container-comite">
    <h1>{{ 'comite_organizador_internacional' | translate }}</h1>
    <!-- ngFor del comite organizador-->
    <div class="card">
      <mat-card *ngFor="let organizador of internacional">
        <div class="card-img">
          <img mat-card-image src="{{ 'assets/images/' + organizador.image }}" />
        </div>

        <mat-card-header>
          <mat-card-title>{{ organizador.name }}</mat-card-title>
          <mat-card-subtitle>{{ 'comite_organizador_internacional' | translate }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <h3> <strong>{{ 'Institucion' | translate }} </strong> {{ organizador.institucion }} </h3>
          <h3> <strong>{{ 'contacto' | translate }} </strong> {{ organizador.contacto }} </h3>
          <h4>{{ organizador.descripcion | translate}}</h4>
        </mat-card-content>
      </mat-card>
    </div>
  </div>


  <section class="topics">
  
    <div class="contenedor">
      <h1 class="titulo"> {{ 'Topicos' | translate }} </h1>
  
      <div class="galeria-port">
        <div class="imagen-port">
          <h2 for=""> {{ 'topico1' | translate }}</h2>
          <div class="hover-galeria">
            <p> {{ 'text_topico1' | translate }} 
            </p>
          </div>
        </div>

        <div class="imagen-port">
          <h2 for=""> {{ 'topico2' | translate }} </h2>
          <div class="hover-galeria">
            <p> {{ 'text_topico2' | translate }}  </p>
          </div>
        </div>
        <div class="imagen-port">
          <h2 for=""> {{ 'topico3' | translate }} </h2>
          <div class="hover-galeria">
            <p> {{ 'text_topico3' | translate }} 
           </p>
          </div>
        </div>
        <div class="imagen-port">
          <h2 for=""> {{ 'topico4' | translate }}</h2>
          <div class="hover-galeria">
            <p> {{ 'text_topico4' | translate }}</p>
          </div>
        </div>
        <div class="imagen-port">
          <h2 for=""> {{ 'topico5' | translate }}</h2>
          <div class="hover-galeria">
            <p>{{ 'text_topico5' | translate }}</p>
          </div>
        </div>
  
      </div>
    </div>
  </section>
</div>

<div class="container">
  <div class="contenedor">
    <div style="margin-top: 2%">
      <h1> {{ 'quienes_participar' | translate }} </h1>
    </div>

    <p> {{ 'participar' | translate }} </p>
    
    </div>

  <div style="text-align: center; margin-bottom: 10%;">
    <button routerLink="/registro" mat-raised-button color="warn"> {{ 'registro' | translate }} </button>
  </div>
</div>