<div class="banner">
  <img src="assets/resource/banner.jpg" />
</div>

<div class="container">

  <!--Contenedor del evento-->
  <h1>{{ 'evento' | translate }}</h1>
  <p> {{ 'home_saludo' | translate }} </p>
  <!--Contenedor de nota de los organizadores-->
  <h1>{{ 'nota_organizadores' | translate }}</h1>
  <p> {{ 'home_saludo2' | translate }} </p>

  <!--Contenedor de los logos del congreso-->
  <div class="container-logos">
    <a href="https://www.utp.edu.co/" target="_blank">
      <img class="logo" src="assets/resource/Logo_U.T.P.png" />
    </a>
    <a href="https://gimm-gef.co/gimm" target="_blank">
      <img class="logo" src="assets/resource/gimm.png" />
    </a>
    <a href="https://gimm-gef.co/gef" target="_blank">
      <img class="logo" src="assets/resource/logo_gef.png" />
    </a>
    <img class="logo" src="assets/resource/logo_congreso.png" />
  </div>

  <!--Contenedor del comite organizador-->

  <div class="container-comite">
    <h1>{{ "comite_organizador" | translate }}</h1>
    <!-- ngFor del comite organizador-->

    <div class="card">
      <mat-card *ngFor="let organizador of organizadores">
        <mat-card-header>
          <mat-card-title>{{ organizador.name }}</mat-card-title>
          <mat-card-subtitle>{{ 'comite_organizador' | translate }}</mat-card-subtitle>
        </mat-card-header>

        <div class="card-img">
          <img mat-card-image src="{{ 'assets/images/' + organizador.image }}" />
        </div>

        <mat-card-content>
          <h3> <strong>{{ 'Institucion' | translate }} </strong> {{ organizador.institucion }} </h3>
          <h3> <strong>{{ 'contacto' | translate }} </strong> {{ organizador.contacto }} </h3>
          <h4>{{ organizador.descripcion | translate }}</h4>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="container-comite">
    <h1>{{ 'comite_organizador_internacional' | translate }}</h1>
    <!-- ngFor del comite organizador-->
    <div class="card">
      <mat-card *ngFor="let organizador of internacional">
        <mat-card-header>
          <mat-card-title>{{ organizador.name }}</mat-card-title>
          <mat-card-subtitle>{{ 'comite_organizador_internacional' | translate }}</mat-card-subtitle>
        </mat-card-header>

        <div class="card-img">
          <img mat-card-image src="{{ 'assets/images/' + organizador.image }}" />
        </div>

        <mat-card-content>
          <h3> <strong>{{ 'Institucion' | translate }} </strong> {{ organizador.institucion }} </h3>
          <h3> <strong>{{ 'contacto' | translate }} </strong> {{ organizador.contacto }} </h3>
          <h4>{{ organizador.descripcion | translate}}</h4>
        </mat-card-content>
      </mat-card>
    </div>
  </div>


  <section class="topics">
  
    <div class="contenedor">
      <h1 class="titulo">Topicos</h1>
  
      <div class="galeria-port">
        <div class="imagen-port">
          <h2 for="">Topico 1</h2>
          <div class="hover-galeria">
            <p>Investigaciones enfocadas a la aplicación de la radiación infrarroja en ciencias humanas y sociales.
            </p>
          </div>
        </div>
        
        <div class="imagen-port">
          <h2 for="">Topico 2</h2>
          <div class="hover-galeria">
            <p> Investigaciones relacionadas al uso de la radiación infrarroja en Ciencia e Ingeniería de Materiales.</p>
          </div>
        </div>
        <div class="imagen-port">
          <h2 for="">Topico 3</h2>
          <div class="hover-galeria">
            <p>Investigaciones afines a las ciencias naturales (Biología, Física, Química, Matemáticas) y a las ciencias
              de la salud.</p>
          </div>
        </div>
        <div class="imagen-port">
          <h2 for="">Topico 4</h2>
          <div class="hover-galeria">
            <p>Evolución y tendencias actuales de la investigación usando termografía infrarroja, adquisición y
              procesamiento de imágenes termográficas, procesos de calibración y caracterización de sensores infrarrojos,
              aplicación de la termografía en procesos industriales, agroindustriales y comerciales, industria 4.0.</p>
          </div>
        </div>
        <div class="imagen-port">
          <h2 for="">Topico 5</h2>
          <div class="hover-galeria">
            <p>Investigaciones relacionadas con las ciencias de la computación, procesamiento y postprocesamiento de
              imágenes termográficas, big data (minería de datos, inteligencia artificial, etc).Investigaciones
              relacionadas con las ciencias de la computación, procesamiento y postprocesamiento de imágenes
              termográficas, big data (minería de datos, inteligencia artificial, etc).</p>
          </div>
        </div>
  
      </div>
    </div>
  </section>
</div>

<div class="container">
  <div class="contenedor">
    <div style="margin-top: 2%">
      <h1> {{ 'quienes_participar' | translate }} </h1>
    </div>

    <p>
      {{ 'participar' | translate }}
    </p>

  </div>

  <div style="text-align: center; margin-bottom: 10%;">
    <button routerLink="/registro" mat-raised-button color="warn"> {{ 'registro' | translate }} </button>
  </div>
</div>