<div class="container" style="width: 50%">
  <h1 style="text-align: center; margin-top: 5%"> {{ 'inscripcion_evento' | translate }}</h1>
  <p style="text-align: justify;"> {{ 'pasos_inscripcion' | translate }}</p>
<p>Los mejores trabajos seran publicados en las revistas:
  <br>
  Instituto de Física <a href="https://iopscience.iop.org/" target="_blank" > IOP </a>
  <br>
  la revista Scientia et Technica de la Universidad Tecnologica de Pereira <a href="https://revistas.utp.edu.co/index.php/revistaciencia" target="_blank"> Scientia et Technica
  </a>
  <br>
  La revista entre ciencia e ingenieria de la Universidad Catolica <a href="https://revistas.ucp.edu.co/index.php/entrecienciaeingenieria" target="_blank"> Entre ciencia e ingenieria
  </a>
  <br>

</p>
<h2>¡Es una gran Oportunidad!</h2>

  <div class="contenedor">
    <form [formGroup]="formRegister" (ngSubmit)="save($event)">
      <mat-form-field class="example-full-width" appearance="fill" style="margin-top: -9%;">
        <mat-label>{{ 'nombre' | translate }} </mat-label>
        <input matInput type="text" [formControl]="nameField" class="form-control" />
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill" style="margin-top: -9%; ">
        <mat-label> {{ 'apellido' | translate }} </mat-label>
        <input matInput type="text" [formControl]="lastNameField" class="form-control" />
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill" style="margin-top: -9%;">
        <mat-label>{{ 'cedula' | translate }} </mat-label>
        <input matInput type="number" [formControl]="cedulaField" class="form-control" />
      </mat-form-field>

      <mat-form-field appearance="fill" style="margin-top: -9%;">
        <mat-label>{{ 'estudiante_profesional' | translate }} </mat-label>
        <mat-select [formControl]="asistenciaField" class="form-control">
          <mat-option *ngFor="let inscripcion of inscripcion" [value]="inscripcion.value">
            {{ inscripcion.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" style="margin-top: -9%;">
        <mat-label> {{ 'como_participar' | translate }}</mat-label>
        <mat-select [formControl]="participacionField" class="form-control">
          <mat-option *ngFor="let participar of participar" [value]="participar.value">
            {{ participar.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill" style="margin-top: -9%">
        <mat-label> {{ 'email_register' | translate }} </mat-label>
        <input matInput type="email" [formControl]="emailField" class="form-control" />
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill" style="margin-top: -9%">
        <mat-label> {{ 'tel' | translate }} </mat-label>
        <input matInput type="number" [formControl]="phoneField" class="form-control" />
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill" style="margin-top: -9%">
        <mat-label> {{ 'ciudad_register' | translate }} </mat-label>
        <input matInput type="text" [formControl]="cityField" class="form-control" />
      </mat-form-field>

      <!--Nombre de Usuario y contraseña-->

      <mat-form-field class="example-full-width" appearance="fill" style="margin-top: -9%">
        <mat-label> {{ 'contraseña' | translate }} </mat-label>
        <input matInput type="password" [formControl]="passwordField" class="form-control" />
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill" style="margin-top: -9%">
        <mat-label> {{ 'confirmar_contraseña' | translate }} </mat-label>
        <input matInput type="password" [formControl]="password1Field" class="form-control" />
      </mat-form-field>

      <button type="submit" mat-raised-button color="warn"> {{ 'enviar_register' | translate }}</button>
      <!--FIN Formulario reactivo-->
    </form>
    
  </div>
  <div style="margin-top: 5%; margin-bottom: 5%;">
    <h1> {{ 'formato_resumen' | translate }}</h1>
    <p style="text-align: justify;">
      {{ 'formato' | translate }}
      <a href="../../../../assets/images/TEMPLATE_ABSTRACT_EXTEND.docx" download> {{ 'link_formato' | translate }} </a>
    </p>
  </div>
</div>