mat-form-field {
  margin: 5%;
}

.contenedor {
  text-align: center;
  margin-top: 10%;
}

h1 {
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  line-height: 150%;

  margin: 1.5%;
}