@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Secular One";
}
